extends ../layout.pug 

block content
    .flex.flex-col.justify-center.items-center.h-screen
        .card.p-5.w-96
            h3.text-xl.font-bold Register
            hr.mt-3.mb-3
            form(action="/register", method="post")
                label.input-label(for='username') Username
                input#username.input-field(type='text' name='username' value=username required)
                label.input-label(for='password') Password
                input#password.input-field(type='password' name='password' required)
                label.input-label(for='repeat-password' required) Repeat password
                input#repeat-password.input-field(type='password' name='repeat_password')
                button.outline-button.px-10.mt-5(action="submit") Sign up
    if success
        .alert-success(role="alert") #{success}
    if error
        .alert-error(role="alert") #{error}
